{{!-- Default Links
    <a href="{{@site.url}}">Latest Posts</a>
    {{#if @site.facebook}}<a href="{{facebook_url @site.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
    {{#if @site.twitter}}<a href="{{twitter_url @site.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
--}}

<a href="https://github.com/Kmutahar" title="Github" target="_blank" rel="noopener nofollow noreferrer">GitHub</a>
<a href="https://www.linkedin.com/in/kmutahar" title="Linkedin" target="_blank" rel="noopener nofollow noreferrer">LinkedIn</a>
<a href="mailto:contact@mutahar.me" title="Email" target="_blank" rel="nonoopener nofollow noreferreropener">Email Me</a>
